* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}
main {
  margin: 0 auto;
  height: 100vh;
  overflow: scroll;
}
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 90%;
  padding: 30px 30px 5px 30px;
  margin: 0 auto;
}
.date {
  display: flex;
  align-items: center;
}
.date__day {
  font-size: 50px;
}
.input_form {
  display: flex;
  justify-content: center;
  justify-content: space-evenly;
}
.user_prompt {
  text-align: center;
}
.list,
.finished_list {
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.list__card {
  width: 90%;
  padding: 15px;
  margin: 2px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
li {
  font-size: 22px;
  margin-left: 20px;
}
.card__container {
  display: flex;
  align-items: center;
}
.card__item {
  list-style: none;
}
.btn {
  border: none;
  padding: 5px;
  border-radius: 3px;
  background: #fff;
}
.btn-delete {
}
.icon {
  height: 30px;
}
.icon-add {
  height: 50px;
  
}
.done {
  background: green;
}
input {
  border-bottom: 1px solid black;
  border-top: none;
  border-left: none;
  border-right: none;
}
.btn-add {
  
  position: absolute;
  bottom: 30px;
  right: 30px;

}
.popup {
  position: fixed;
  top: 0;
  background: blue;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  border: 3px solid green;
  margin: 0 auto;
  height: 100vh;
}
