* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}
main {
  margin: 0 auto;
  border: 3px solid purple;
  height: 100vh;
}
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.date {
  display: flex;
  align-items: center;
}
.date__day {
  font-size: 50px;
}
.input_form {
  display: flex;
  justify-content: center;
  justify-content: space-evenly;
}
.user_prompt {
  text-align: center;
}
.list {
  padding: 0;
}
.list__card {
  padding: 10px;
  border: 1px solid black;
  border-radius: 3px;
  margin: 2px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.card__container {
  display: flex;
  align-items: center;
}
.card__item {
  list-style: none;
}
.btn {
  border: none;
  padding: 5px;
  border-radius: 3px;
  background: #fff;
}
.btn-delete {
}
.icon {
  height: 20px;
}
.done {
  background: green;
}
.input {
  border: 1px solid black;
  border-radius: 3px;
}
